<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seya330.ranchat.dao.RegUserDAO">
	<insert id="insertRegUser" parameterType="com.seya330.ranchat.user.bean.RegUserBean">
		INSERT INTO REG_USER(
			UNIQ_ID
			, USER_ID
			, PASSWORD
			, REG_DATE
			, MOD_DATE
			, USER_STATUS
		)
		VALUES(
			#{uniqId, jdbcType=VARCHAR}
			, LOWER(#{userId, jdbcType=VARCHAR})
			, #{password, jdbcType=VARCHAR}
			, NOW()
			, NOW()
			, 'U'
		)
	</insert>
	
	<select id="selectRegUserCnt" parameterType="com.seya330.ranchat.user.vo.RegUserVO" resultType="int">
		SELECT
			COUNT(*) cnt
		FROM
			REG_USER
		WHERE
			USER_STATUS = #{userStatus, jdbcType=VARCHAR}
			<if test="uniqId != null">
				AND UNIQ_ID = #{uniqId, jdbcType=VARCHAR}
			</if>
			<if test="userId != null">
				AND USER_ID = #{userId, jdbcType=VARCHAR}
			</if>
	</select>
	
	<select id="selectRegUser" parameterType="com.seya330.ranchat.user.vo.RegUserVO" resultType="com.seya330.ranchat.user.bean.RegUserBean">
		SELECT
			UNIQ_ID
			, USER_ID
			, PASSWORD
		FROM
			REG_USER
		WHERE
			USER_STATUS = #{userStatus, jdbcType=VARCHAR}
			<if test="uniqId != null">
				AND UNIQ_ID = #{uniqId, jdbcType=VARCHAR}
			</if>
			<if test="userId != null">
				AND USER_ID = #{userId, jdbcType=VARCHAR}
			</if>
	</select>
	
</mapper>